p {
  font-family: Verdana;
  padding-left: 2em;
}

h1,
h2,
h3,
h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 1em;
}

h1 {
  color: rgb(7, 7, 173);
  text-align: center;
}

h2 {
  color: rgb(92, 14, 0);
}

h3 {
  color: rgb(39, 105, 111);
}

h4 {
  color: rgb(73, 73, 17);
}

li {
  display: inline-block;
}

button {
  font-size: 14px;
  list-style-type: square;
  background-color: rgb(161, 220, 220);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: 2px;
  margin-left: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  border-color: rgb(161, 220, 220);
  border-radius: 5px;
}

ul {
  text-align: center;
}

a:visited {
  color: rgb(39, 105, 111)
}

aside {
  padding-top: 10px;
}

footer {
  font-size: 11px;
  font-family: Arial;
}

.depts {
  padding: 1em;
  border: 1mm ridge rgb(7, 7, 173);
  margin-top: 20px;
  margin-bottom: 10px;  
  margin-right: 120px;
  margin-left: 120px;
  text-align: center;
  background-color: rgb(233, 231, 242);
}